/* alterado BELINI  */
.Container_atualizar {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.6875rem;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.46%;
}

/* adicionado BELINI */
.Botao_atualizar {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  text-align: center !important;
  line-height: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  height: 35px !important;
  font-size: 24px;
  top: 3%;
  padding: 10px 10px
}

.copiar-ids-button{
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  text-align: center !important;
  line-height: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  height: 35px !important;
  font-size: 24px;
  top: 3%;
  padding: 10px 10px
}

/* alterado BELINI */
.editar-cliente-button {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  text-align: center !important;
  line-height: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  height: 35px !important;
  font-size: 24px;
  top: 3%;
  padding: 10px 10px
}

/* alterado BELINI */
.adicionar-maquina-button {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  text-align: center !important;
  line-height: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  height: 35px !important;
  font-size: 24px;
  top: 3%;
  padding: 10px 10px
}

.AddCliente_header_back {
  font-size: 24px;
}

.Cliente_Maquinas_staBlock {
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  position: relative;
}

.Cliente_Maquinas_staBlockLinkA {
  color: #000000;
}

.Cliente_Maquinas_header {
  display: flex;
  align-items: center;
}

.Cliente_Maquinas_staBlockLink {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.Cliente_Maquinas_staBlockLink>div {
  padding: 0 5px;
}

.Cliente_Maquinas_staBlockTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  padding: 10px 15px;
}

.Cliente_Maquinas_addbtn {
  display: flex !important;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 5px;
  border: 1px solid black !important;
}

.Cliente_Maquinas_addbtn span {
  margin-left: 5px;
}

.Cliente_Maquinas_staBlockAmount {
  flex: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 66px;
  color: #000000;
  padding: 0 10px;
}

.Cliente_Maquinas_staBlockBottom img {
  width: 100%;
}

.Cliente_Maquinas_table {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  padding: 20px;
  height: 100%;
  position: relative;
}

.Cliente_Maquinas_table th.ant-table-cell {
  font-weight: 700;
}

.Cliente_Maquinas_col {
  padding: 20px;
}

/* Adicionado - BELINI */
.maquina-info {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-width 0.2s ease;
  border: 1px solid #d4d4d4;
}

/* Borda e sombra ao passar o mouse - BELINI*/
.maquina-info:hover,
.maquina-info.selected {
  border: 1px solid #3498db;
  box-shadow: 0 0 15px rgba(15, 182, 248, 0.856);
}

/* Adicionado - BELINI */
.status-icon {
  margin-right: 10px;
}

/* Adicionado - BELINI */
.nome {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Adicionado - BELINI */
.descricao {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Adicionado - BELINI */
.status {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* adicionado BELINI*/
@media only screen and (max-width: 800px) {
  .adicionar-maquina-button {
    margin-left: 3px;
  }
}