.Admin_EditPagamentos_header_back {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  text-align: center !important;
  line-height: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  height: 35px !important;
  font-size: 22px;
  padding: 10px 10px;
  margin-right: 10px; /* Espaço à direita para o texto */
}

.informacao-texto {
  font-size: 18px; /* Aumenta o tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-left: 10px; /* Espaço à esquerda do texto */
  line-height: 1.5; /* Ajuste a altura da linha se necessário */
}

.Admin_Update_Pagamento_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
  max-width: 400px;
  padding: 30px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens */
  width: 100%; /* Garante que o header ocupe a largura total */
}

.Admin_Update_Pagamento_itemFieldInput {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.Admin_Update_Pagamento_itemField {
  padding: 10px 0px;
  width: 100%;
}

.Admin_Update_Pagamento_itemFieldLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.Admin_Update_Pagamento_itemField select {
  border: 1px solid #55b962;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 0.4);
  font-size: 14px;
  /* ajuste o tamanho da fonte se necessário */
  line-height: 24px;
  /* ajuste a altura da linha se necessário */
  padding: 8px;
  /* ajuste o preenchimento interno se necessário */
  width: 100%;
  /* garante que o select ocupe 100% do espaço */
}

.Admin_Update_Pagamento_itemField select.Admin_Update_Pagamento_inputError {
  border: 1px solid #e46772;
}

.Admin_Update_Pagamento_itemFieldError {
  color: #e46772;
  font-size: 14px;
  padding: 2px 0;
}

.Admin_Update_Pagamento_saveBtn {
  width: 100%;
  margin-top: 20px;
  background-color: #10b401;
  color: #fff;
  border-radius: 8px;
  height: 40px;
}

.Admin_Update_Pagamento_deleteBtn {
  width: 100%;
  margin-top: 20px;
  background-color: #f50101;
  color: #fff;
  border-radius: 8px;
  height: 40px;
}

.Admin_Update_Pagamento_saveBtn:hover,
.Admin_Update_Pagamento_deleteBtn:hover {
  background-color: #005aa6;
  /* cor escura para o hover */
}

.Admin_EditPagamentos_header_HelpPage {
  border: none;
}

.Admin_Edit_Pagamento_storeLabel {
  display: flex;
}

.Admin_Edit_Pagamento_Icon {
  width: 23px;
  height: 23px;
  margin-left: 7px;
}